section.features
    img(src="../assets/img/features.png", alt="", srcset="")
    h1.features__title Nos representa
    .features__container
        +feature("paper-plane","titulo de ejemplo", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis vivamus svit nisl, Dolor sed.", "ver servicios")
        +feature("globe","titulo de ejemplo", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis vivamus svit nisl, Dolor sed.", "ver blog")
        +feature("book","titulo de ejemplo", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis vivamus svit nisl, Dolor sed.", "conocenos")