section.hero
    .hero__back
    .hero__contactUs
        i Ask
    .hero__content
        h1.hero__content__title Capacitación aeronautica
        .hero__content__description
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Turpis cursus vitae tellus eget senectus tortor, accumsan et aliquam. Urna, morbi lacus, ornare feugiat nunc tincidunt. Eget eget eu elit semper pretium mauris viverra. Tristique cursus in ornare pellentesque quam ut justo rhoncus, donec.
        +button("Ver nuestro blog")
