section.newsteller
    .newsteller__sideCont
        h1.newsteller__sideCont__title Mantente al tanto
        p.newsteller__sideCont__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ornare lectus vestibulum tempus vitae nec, commodo. Donec ut mor bi arcu posuere curabitur. Quam fermentum sit in orci. In in ultricies cursus facilisis ridiculus magna nibh.
        input(type="text" placeholder="example@email.com").newsteller__sideCont__input
        +button("Suscribirse")
    img(src="../assets/img/blog.png", alt="", srcset="").newsteller__img